amqp==5.3.1
annotated-types==0.7.0
asgiref==3.9.1
asttokens==3.0.0
attrs==25.3.0
backports.ssl_match_hostname==3.7.0.1
billiard==4.2.1
celery==5.4.0
cfgv==3.4.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
decorator==5.2.1
distlib==0.4.0
Django==5.1.4
django-appconf==1.1.0
django-celery-email==3.0.0
django-environ==0.12.0
django-extensions==3.2.3
django-filter==24.3
django-redis==5.4.0
djangorestframework==3.15.2
drf-spectacular==0.28.0
drf-standardized-errors==0.14.1
executing==2.2.0
filelock==3.18.0
flower==2.0.1
humanize==4.12.3
identify==2.6.12
inflection==0.5.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kombu==5.5.4
matplotlib-inline==0.1.7
nodeenv==1.9.1
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.8
pre_commit==4.0.1
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
redis==6.4.0
referencing==0.36.2
rpds-py==0.27.0
ruff==0.8.4
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
tornado==6.5.2
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
vine==5.1.0
virtualenv==20.33.0
wcwidth==0.2.13
